services:
  tracking-service:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        BINARY_NAME: tracking-service
    ports:
      - "3000:3000"
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
    networks:
      - logitrack-net
    depends_on:
      - db

  db:
    image: postgres:17
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - logitrack_db_data:/var/lib/postgresql/data
    networks:
      - logitrack-net

volumes:
  logitrack_db_data:

networks:
  logitrack-net:
    driver: bridge