services:
  tracking-service:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        BINARY_NAME: tracking-service
    ports:
      - "3000:3000"
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
      BITESHIP_API_URL: ${BITESHIP_API_URL}
      BITESHIP_API_KEY_TEST: ${BITESHIP_API_KEY_TEST}
      BITESHIP_API_KEY_PROD: ${BITESHIP_API_KEY_PROD}
    networks:
      - logitrack-net
    depends_on:
      - db

  db:
    image: postgres:17
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - logitrack_db_data:/var/lib/postgresql/data
    networks:
      - logitrack-net

  rabbitmq:
    image: rabbitmq:4-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - logitrack-net

volumes:
  logitrack_db_data:
  rabbitmq_data:

networks:
  logitrack-net:
    driver: bridge